*{
	margin:0;
	padding:0;
}

body{
	font:15px/1.3 'Open Sans', sans-serif;
	color: #5e5b64;
	text-align:center;
}

a, a:visited {
	outline:none;
	color:#389dc1;
}

a:hover{
	text-decoration:none;
}

section, footer, header, aside, nav{
	display: block;
}

/*-------------------------
	The menu
--------------------------*/

nav{
	display:inline-block;
	margin:60px auto 45px;
	background-color:#5597b4;
	box-shadow:0 1px 1px #ccc;
	border-radius:2px;
}

nav a{
	display:inline-block;
	padding: 18px 30px;
	color:#fff !important;
	font-weight:bold;
	font-size:16px;
	text-decoration:none !important;
	line-height:1;
	text-transform: uppercase;
	background-color:transparent;

	-webkit-transition:background-color 0.25s;
	-moz-transition:background-color 0.25s;
	transition:background-color 0.25s;
}

nav a:first-child{
	border-radius:2px 0 0 2px;
}

nav a:last-child{
	border-radius:0 2px 2px 0;
}

nav.customerDetails .customerDetails,
nav.billDetails .billDetails,
nav.addCustomer .addCustomer{
	background-color:#e35885;
}

p{
	font-size:22px;
	font-weight:bold;
	color:#7d9098;
}

p b{
	color:#ffffff;
	display:inline-block;
	padding:5px 10px;
	background-color:#c4d7e0;
	border-radius:2px;
	text-transform:uppercase;
	font-size:18px;
}


content {
  width: 700px ;
  margin-left: auto ;
  margin-right: auto ;
}


table
{

  border-collapse:collapse;
  margin-left: auto ;
  margin-right: auto ;
}
table, td, th
{
border:1px solid blue;
}


form    {
background: -webkit-gradient(linear, bottom, left 175px, from(#CCCCCC), to(#EEEEEE));
background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
margin:auto;
position:relative;
width:550px;
height:250px;
font-family: Tahoma, Geneva, sans-serif;
font-size: 14px;
font-style: italic;
line-height: 24px;
font-weight: bold;
color: #09C;
text-decoration: none;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
padding:10px;
border: 1px solid #999;
border: inset 1px solid #333;
-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}


label{
    display:inline-block;
    font:15px/1.3 'Open Sans', sans-serif;
	color: #e35885;
	padding:3px;
    margin: 5px;
}

input {
width:375px;
display:inline-block;
border: 1px solid #999;
border-radius: 10px;
height: 25px;
-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
padding:1px;
margin: 5px;
}

p.help-block{
font-family: Tahoma, Geneva, sans-serif;
font-size: 10px;
font-style: italic;
color: #FF0000;
}

.has-error{
 color:#FF0000
}

textarea{
display:inline-block;
border-radius: 10px;
width: 600px;
height: 120px;
border: 3px solid #cccccc;
padding: 5px;
}


textArea.message {
display:inline-block;
border-radius: 10px;
}

.btn-primary {
    border-radius: 5px;
    border: 0;
    width: 100px;
    height:30px;
    font-family: Tahoma;
    background: #5597b4
}